.page {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto; /* Add overflow property to make the page scrollable */
  }
  
  .top-tags {
    bottom: auto;
    top: 35px;
  }
  
  .tags {
    color: #48f006;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;
  }
  
  .bottomm-tag-html {
    margin-left: -20px;
  }
  
  .container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
  }
  
  .about-page,
  .contact-page,
  .projects-page {
    .text-zone {
      position: absolute;
      left: 10%;
      top: 20%;
      transform: translateY(-50%);
      width: 35%;
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;
  
      h1 {
        font-size: 55px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #48f006;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 13px;
  
        &::before {
          content: '<h1>';
          font-family: 'La Belle Aurore';
          font-size: 18px;
          position: absolute;
          margin-top: -10px;
          left: -10px;
          opacity: 0.6;
          line-height: 18px;
        }
  
        &::after {
          content: '<h1/>';
          font-family: 'La Belle Aurore';
          font-size: 18px;
          line-height: 18px;
          position: absolute;
          left: -30px;
          bottom: -20px;
          margin-left: 20px;
          opacity: 0.6;
        }
      }
      h2 {
        font-size: 45px;
        font-family: "Lucida Console", Courier, monospace;
        color: #3a3a3a;
        font-weight: bold;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 13px;
      }
      p {
        font-size: 14px;
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
        min-width: fit-content;
        animation: flipInX 2s;
      }
    }
  
    // Cant get this to work
    // .text-animate-hover {
    //     &:hover {
    //         color: #fff;
    //     }
    // }
  }
  
  .projects-page {
    .text-zone {
      position: absolute;
      left: 40%;
      top: 20%;
      transform: translateY(-50%);
      width: 35%;
      max-height: 90%;
  
      h1 {
        font-size: 55px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #48f006;
        font-weight: 400;
        float: inline-start;
        position: relative;
        margin-bottom: 50px;
        left: 13px;
      }

      
    }
  
    // Cant get this to work
    // .text-animate-hover {
    //     &:hover {
    //         color: #fff;
    //     }
    // }
    }
  
    .resume-page {
      .text-zone {
        h1 {
          font-size: 80px;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          color: #48f006;
          font-weight: 400;
          position: relative;
          left: 400px;
          bottom: 300px;
    
          &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
          }
    
          &::after {
            content: '<h1/>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -20px;
            margin-left: 20px;
            opacity: 0.6;
          }
        }
      }
    
      .image-zone {
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Align items to the top */
        height: 100%; /* Set height to fill the container vertically */
    
        img {
          max-width: 100%;
          max-height: 100%;
          margin-top: -300px; /* Adjust this value to move the image up or down */
        }
      }
    }
    
   


// .card {
//         margin: 0 auto;
//         z-index: 9999;
//         position: relative;
//     }
//     .projImg {
//         width: 100px;
//         height: 100px;
//         display: block;
//     